<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eze's Photography</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <img src="images/logo.svg" />
      <h1>Eze's Photography</h1>
      <nav>
        <ul>
          <li><a href="/">Home | </a></li>
          <li><a href="/gallery">Gallery | </a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
